/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/genebygenebact -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  input = 'https://raw.githubusercontent.com/espelpz/genebygenebact/dev/test_datasets/samplesheet/samplesheet.csv'
  skip_get_schema = false
  skip_get_profile = false
  api = 'bigsdb'
  organism_id = 1
  schema_type = 0

  // Genome references
  fasta = 'https://raw.githubusercontent.com/espelpz/genebygenebact/dev/test_datasets/references/GCF_002213505.1_ASM221350v1_genomic.fna'
  gff = 'https://raw.githubusercontent.com/espelpz/genebygenebact/dev/test_datasets/references/GCF_002213505.1_ASM221350v1_genomic.gff'
}
